#defaultProfile
#Wed Mar 14 11:01:41 CET 2012
admin.singleModeDatum.number=6
AG1.columntextbausteine.number=2
AG2.singleMode.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
[default].sortcolumn6.number=8
admin.ascendingtextbausteine.check=1
AG1.fontsize.number=12
AG2.sortcolumn4.number=4
admin.quickAcces.constraints=West
ADMHECK36.eef.check=0
AG1.textBaustein.floatit=0
admin.sortcolumn5.number=5
ADMHECK36.spell.check=0
AG1.singleMode.divider=-1
HECK36.mediatrix.floatit=0
AG2.singleMode.floatit=0
admin.adressTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
HECK36.sortcolumn2.number=2
[default].singlemodustreeview_selection.constraints=Mails
admin.FrageTablePanelStatusBar.constraints=South
HECK36.spell.check=0
ADMHECK36.textBaustein.floatit=0
HECK36.singleModeLimit.visible=7500
[default].kundeSuchen.location=415x351
HECK36.sortcolumn11.number=11
admin.CRMFrame_Main.divider=329
ADMHECK36.quickAcces.visible=1
AG2.chartDividerPositiion.divider=-1
HECK36.quickAcces.visible=1
admin.sortcolumn17.number=20
[default].metaPanel.location=356x248
ADMHECK36.sortcolumn3.number=3
[default].sortcolumn16.number=21
AG2.grouping.number=-1
HECK36.column.number=0
[default].quickAcces.size=141x626
admin.singleMode.constraints=32\u00A71 49\u00A71 160\u00A71 102\u00A71 133\u00A71 221\u00A71 143\u00A71 165\u00A71 264\u00A71 78\u00A71 83\u00A71 75\u00A71 85\u00A71 114\u00A71 100\u00A70 15\u00A70 15\u00A70 52\u00A70 23\u00A70 91\u00A70 100\u00A70 100\u00A70 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
admin.editorPane.size=400x300
AG1.faq.constraints=100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
AG1.mailVorschau.size=600x400
[default].textBaustein.location=522x187
AG1.singleMode.floatit=0
HECK36.sortcolumn3.number=3
AG1.Locale.constraints=de_DE
admin.externalSucheFrameHSplit.divider=200
[default].selectTreeDialog.location=320x301
admin.client.size=1568x835
AG2.sortcolumn7.number=7
AG1.AskMeEditorPaneAsK.check=1
HECK36.tipoftheday.selectedIndex=2
admin.sortcolumn8.number=8
ADMHECK36.sortcolumn10.number=10
AG1.quickAcces.constraints=West
AG1.AskMeEditorPaneBuzz.check=1
[default].newMailFrame.location=420x201
HECK36.quickAcces.size=421x811
HECK36.sortcolumn14.number=14
AG1.notePadVisibility.visible=0
AG1.TeDysToolBar.constraints=North
[default].client.location=-4x-4
[default].frageAntwort.divider=171
admin.eef.check=0
[default].editorPane.location=626x308
ADMHECK36.MediaTrixSplitPane.size=1042x709
[default].singlemodustyp.number=0
ADMHECK36.sortcolumn6.number=6
[default].sortcolumn19.number=15
ADMHECK36.AskMeEditorPaneBuzz.check=1
ADMHECK36.FrageTablePanelStatusBar.constraints=South
[default].ContExSearchPanel.size=800x600
HECK36.sortcolumn6.number=6
AG1.kundeSuchen.location=415x351
AG1.EditorZoomFaktor.constraints=1.0
admin.emailCheck.check=0
[default].singleModeStatus.constraints=%
HECK36.client.location=-4x-4
admin.sortcolumn11.number=14
ADMHECK36.notePadVisibility.visible=0
AG2.sortcolumn11.number=11
AG1.adressTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
admin.CRMFrame.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
ADMHECK36.kundeSuchen.location=415x351
admin.telefonDivider.divider=-1
[default].sortcolumn10.number=13
HECK36.grouping.number=-1
AG2.singleModeStatus.constraints=%
admin.chartDividerPositiion.divider=-1
admin.singlemodustreeview.constraints=Mail.
HECK36.exEditFloatit.floatit=0
[default].sortcolumn3.number=5
ADMHECK36.chartDividerPositiion.divider=-1
ADMHECK36.sortcolumn7.number=7
AG2.sortcolumn1.number=1
ADMHECK36.inboxmode.number=0
HECK36.quickAcces.constraints=West
AG1.sortcolumn.number=15
AG1.kundeSuchen.size=450x300
admin.sortcolumn2.number=2
AG1.ascendingtextbausteine.check=1
AG2.quickAcces.constraints=West
[default].ascending.check=0
ADMHECK36.schlagwortVorschau.size=600x400
[default].mailvorschau.check=1
HECK36.notePadLocation.location=0x0
admin.sortcolumn20.number=16
ADMHECK36.sortcolumn14.number=14
AG2.singleMode.divider=245
ADMHECK36.quickKunde.check=0
admin.menubarview.number=1
HECK36.eef.check=0
HECK36.textBaustein.floatit=0
admin.newMailFrame.location=420x224
admin.newMailFrame.size=600x400
admin.externalSucheFrame.location=370x124
ADMHECK36.singleModeLimit.visible=7500
[default].sortcolumn4.number=6
AG2.sortcolumn.number=15
admin.sortcolumn14.number=17
admin.AskMeEditorPaneBuzz.check=1
AG1.frageAntwort.divider=275
ADMHECK36.sortcolumn0.number=0
[default].newMailFrame.size=600x400
[default].sortcolumn13.number=18
ADMHECK36.kundeSuchen.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
HECK36.TeDysToolBar.constraints=North
HECK36.singleMode.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
AG1.telefonDivider.divider=-1
AG2.quickAcces.size=283x661
HECK36.sortcolumn0.number=0
[default].externalSucheFrameHSplit.divider=200
[default].metaPanel.size=940x419
ADMHECK36.frageAntwort.divider=203
AG1.textBaustein.location=313x218
admin.notePadVisibility.visible=0
AG2.menubarview.number=1
[default].column.number=8
admin.fontsize.number=12
AG1.mediatrix.divider=574
AG2.Locale.constraints=de_DE
ADMHECK36.ContExSearchPanel.size=800x600
admin.inboxmode.number=0
[default].Windows_Sessions.size=800x600
AG1.chartDividerPositiion.divider=-1
admin.sortcolumn15.number=18
admin.SingleModus.location=0x0
[default].AskMeEditorPaneBuzz.check=1
ADMHECK36.adressTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
[default].notePadLocation.location=0x0
AG2.singlemodustreeview.constraints=Mails.Mails,Sky.
ADMHECK36.fontsize.number=12
[default].externalSucheFrameVSplit.divider=386
admin.textBaustein.floatit=0
ADMHECK36.schlagwortVorschau.location=340x301
[default].sortcolumn7.number=10
HECK36.singleModusTreeView.check=1
AG2.sortcolumn5.number=5
[default].imageFrame.location=465x390
AG2.mediatrix.divider=375
AG1.menubarview.number=1
AG2.notePadLocation.location=0x0
admin.quickKunde.check=0
[default].notePadVisibility.visible=0
[default].adressTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
admin.sortcolumn6.number=6
[default].textBaustein.size=620x600
[default].TeDysToolBar.constraints=North
ADMHECK36.singleMode.divider=365
AG1.mediatrix.floatit=0
ADMHECK36.textBaustein.location=440x203
[default].MediaTrixSplitPane.check=0
[default].schlagwortVorschau.location=340x301
HECK36.singleMode.divider=252
[default].inboxmode.number=0
AG2.notePadVisibility.visible=0
ADMHECK36.mailvorschau.check=1
HECK36.sortcolumn12.number=12
AG1.notePadLocation.location=16x42
[default].EditorZoomFaktor.constraints=1.0
[default].singlemodustreeview.constraints=Mails.Mails,Sky.
[default].ContExSearchPanel.location=23x150
HECK36.mailvorschau.check=0
[default].CRMFrame.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
[default].CRMKundeTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
AG1.quickAcces.size=100x100
AG1.mailVorschau.location=340x301
ADMHECK36.tipoftheday.selectedIndex=3
[default].editorPane.size=400x300
admin.sortcolumn18.number=21
ADMHECK36.faq.constraints=100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
AG2.singleModeLimit.visible=7500
[default].sortcolumn17.number=9
ADMHECK36.client.size=1292x917
ADMHECK36.sortcolumn4.number=4
AG2.mediatrix.floatit=0
[default].quickKunde.check=1
ADMHECK36.ContExSearchPanel.location=133x182
HECK36.sortcolumn4.number=4
AG1.eef.check=0
ADMHECK36.singleMode.floatit=0
HECK36.client.size=1688x917
AG2.ascending.check=0
HECK36.singlemodustreeview_selection.constraints=Mails,Sky,Nachbearbeitungsstation
AG2.sortcolumn8.number=8
HECK36.singleMode.floatit=0
admin.sortcolumn9.number=9
ADMHECK36.kundeSuchen.size=450x300
ADMHECK36.sortcolumn11.number=11
[default].CRMFrame_Bottom.divider=80
ADMHECK36.singlemodustreeview.constraints=Mails.Mails,Sky.
AG1.ContExSearchPanel.size=800x600
admin.Windows_Sessions.size=800x600
[default].singleModeDatum.number=0
AG2.column.number=0
[default].sortcolumn1.number=2
HECK36.singleModeStatus.constraints=%
admin.column.number=8
admin.SingleModus.check=0
admin.TeDysToolBarFloatit.floatit=0
admin.sortcolumn0.number=0
admin.grouping.number=-1
[default].MediaTrixSplitPane.size=447x696
AG2.sortcolumn9.number=9
admin.singlemodustreeview_selection.constraints=Mails,Sky
[default].SingleModus.check=0
[default].CRMFrame.size=800x640
[default].imageFrame.size=722x179
[default].textBausteinPosition.number=118
AG2.FrageTablePanelStatusBar.constraints=South
admin.CRMFrame_Bottom.divider=80
ADMHECK36.sortcolumn12.number=12
[default].singleMode.divider=216
AG1.emailCheck.check=0
HECK36.sortcolumn7.number=7
[default].spell.check=0
ADMHECK36.grouping.number=-1
admin.sortcolumn12.number=12
AG2.sortcolumn12.number=12
[default].singleMode.constraints=32\u00A71 49\u00A71 160\u00A71 102\u00A71 133\u00A71 221\u00A71 143\u00A71 165\u00A71 264\u00A71 78\u00A71 83\u00A71 75\u00A71 85\u00A71 114\u00A71 100\u00A70 15\u00A70 15\u00A70 52\u00A70 23\u00A70 91\u00A70 100\u00A70 100\u00A70 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
[default].sortcolumn11.number=14
[default].RT_ALL_STATE.constraints=101\u00A71 101\u00A71 101\u00A71 101\u00A71 101\u00A71 101\u00A71 101\u00A71 101\u00A71 101\u00A71 171\u00A71 93\u00A71 93\u00A71 93\u00A71 93\u00A71 93\u00A71 90\u00A71 93\u00A71 89\u00A71 93\u00A71 90\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
HECK36.notePadVisibility.visible=0
admin.quickAcces.visible=1
[default].textBaustein.floatit=1
HECK36.ascending.check=0
ADMHECK36.sortcolumn8.number=8
[default].Windows_Sessions.location=77x222
AG2.sortcolumn2.number=2
[default].mailVorschau.size=600x400
HECK36.sortcolumn8.number=8
admin.sortcolumn3.number=11
ADMHECK36.newMailFrame.size=600x400
[default].Locale.constraints=de_DE
[default].tipoftheday.selectedIndex=0
[default].viewfilter.Gruppe1.DE.number=1
admin.sortcolumn21.number=13
AG1.monoSpacedFont.check=0
admin.currentDirectory.constraints=Y\:\\mediatrix_data\\20120124_export_import
ADMHECK36.columntextbausteine.number=2
admin.mailvorschau.check=0
[default].sortcolumn20.number=16
usertel=
[default].externalSucheFrame.location=290x201
AG2.tipoftheday.selectedIndex=3
ADMHECK36.monoSpacedFont.check=0
AG2.inboxmode.number=0
[default].sortcolumn5.number=7
ADMHECK36.singleModeDatum.number=6
HECK36.TeDysToolBarFloatit.floatit=0
[default].kundeSuchen.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
[default].sortcolumn14.number=19
ADMHECK36.sortcolumn1.number=1
ADMHECK36.quickAcces.constraints=West
[default].client.size=1032x732
admin.sortcolumn4.number=4
HECK36.columntextbausteine.number=2
HECK36.sortcolumn1.number=1
HECK36.inboxmode.number=0
[default].exEditFloatit.floatit=0
ADMHECK36.TeDysToolBar.constraints=North
ADMHECK36.MediaTrixSplitPane.check=0
AG1.tipoftheday.selectedIndex=2
AG1.TeDysToolBarFloatit.floatit=0
HECK36.sortcolumn10.number=10
AG1.quickAcces.visible=1
ADMHECK36.singlemodustreeview_selection.constraints=Mails,Sky,Aenderung Kundendaten
ADMHECK36.singleModusTreeView.check=1
ADMHECK36.textBaustein.size=620x600
admin.CRMFrame.size=800x640
admin.sortcolumn16.number=19
HECK36.quickKunde.check=0
[default].chartDividerPositiion.divider=-1
admin.SingleModus.size=1280x793
[default].sortcolumn15.number=20
ADMHECK36.sortcolumn2.number=2
admin.sortcolumn.number=14
HECK36.chartDividerPositiion.divider=-1
HECK36.telefonDivider.divider=-1
ADMHECK36.singleMode.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 99\u00A71 100\u00A71 99\u00A71 100\u00A71 278\u00A71 72\u00A71 70\u00A71 70\u00A71 70\u00A71 72\u00A71 70\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
AG1.quickKunde.check=0
admin.singleModeStatus.constraints=%
[default].sortcolumn8.number=11
AG1.spell.check=0
AG2.sortcolumn6.number=6
ADMHECK36.newMailFrame.location=324x273
AG1.singleModeLimit.visible=7500
admin.quickAcces.size=186x626
[default].sortcolumn.number=14
ADMHECK36.menubarview.number=1
ADMHECK36.sortcolumn.number=15
[default].faq.constraints=100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
admin.sortcolumn7.number=7
ADMHECK36.column.number=8
AG1.kundeSuchen.constraints=102\u00A71 102\u00A71 189\u00A71 97\u00A71 102\u00A71 15\u00A71 97\u00A71 102\u00A71 97\u00A71 352\u00A71 15\u00A71 15\u00A71 15\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
HECK36.menubarview.number=1
HECK36.FrageTablePanelStatusBar.constraints=South
ADMHECK36.Locale.constraints=de_DE
ADMHECK36.quickAcces.size=296x860
[default].RT_ESCALATION.constraints=4148\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 47\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 15\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
HECK36.sortcolumn13.number=13
HECK36.Locale.constraints=de_DE
ADMHECK36.singlemodustyp.number=0
[default].SingleModus.size=1448x767
HECK36.ascendingtextbausteine.check=1
[default].currentDirectory.constraints=C\:\\Users\\ADMBAUM86\\Desktop
admin.editorPane.location=522x252
[default].externalSucheFrame.size=700x600
[default].sortcolumn9.number=12
admin.sortcolumn19.number=15
admin.CRMFrame.location=112x64
ADMHECK36.sortcolumn5.number=5
[default].sortcolumn18.number=1
admin.client.location=-46x-7
admin.singleModusTreeView.check=1
HECK36.sortcolumn5.number=5
admin.mediatrix.divider=300
ADMHECK36.MediaTrixSplitPane.location=0x0
admin.AskMeEditorPaneAsK.check=1
admin.exEditFloatit.floatit=0
[default].CRMFrame.location=112x64
admin.notePadLocation.location=511x368
ADMHECK36.TeDysToolBarFloatit.floatit=0
admin.Windows_Sessions.location=214x78
AG1.ContExSearchPanel.location=23x150
username=admmaie32
admin.sortcolumn10.number=10
[default].mediatrix.divider=375
ADMHECK36.client.location=0x0
AG2.sortcolumn10.number=10
HECK36.frageAntwort.divider=89
ADMHECK36.mediatrix.divider=232
ADMHECK36.ascendingtextbausteine.check=1
ADMHECK36.telefonDivider.divider=-1
admin.externalSucheFrame.size=700x600
admin.tipoftheday.selectedIndex=0
admin.externalSucheFrameVSplit.divider=122
[default].MediaTrixSplitPane.location=270x149
HECK36.singlemodustreeview.constraints=Mails.Mails,Sky.Mails,Sky,Default.
[default].sortcolumn2.number=4
ADMHECK36.singleModeStatus.constraints=%
AG2.sortcolumn0.number=0
HECK36.adressTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
[default].SingleModus.location=-4x-4
HECK36.sortcolumn.number=15
admin.TeDysToolBar.constraints=North
admin.sortcolumn1.number=1
admin.mediatrix.floatit=0
AG1.textBaustein.size=620x600
admin.columntextbausteine.number=2
[default].mailVorschau.location=340x301
ADMHECK36.sortcolumn13.number=13
AG1.exEditFloatit.floatit=0
admin.ascending.check=0
AG2.singleModusTreeView.check=1
[default].CRMFrame_Main.divider=329
ADMHECK36.mediatrix.floatit=0
[default].schlagwortVorschau.size=600x400
admin.singleMode.divider=169
admin.sortcolumn13.number=3
ADMHECK36.AskMeEditorPaneAsK.check=1
ADMHECK36.ascending.check=0
AG2.sortcolumn13.number=13
AG2.quickAcces.visible=1
[default].sortcolumn12.number=17
ADMHECK36.notePadLocation.location=0x131
admin.frageAntwort.divider=95
[default].singleModeLimit.visible=7500
ADMHECK36.sortcolumn9.number=9
AG2.sortcolumn3.number=3
[default].kundeSuchen.size=450x300
AG1.singleModeStatus.constraints=%
HECK36.sortcolumn9.number=9
HECK36.mediatrix.divider=-1
admin.monoSpacedFont.check=0
[default].CRMNotizenTableView.constraints=100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 100\u00A71 Automatische_Vergr\u00F6sserung_NACHFOLGENDE_Spalten
AG2.mailvorschau.check=0
admin.spell.check=0
admin.singleMode.floatit=0
ADMHECK36.exEditFloatit.floatit=0
admin.Locale.constraints=de_DE
AG2.sortcolumn14.number=14
[default].sortcolumn21.number=3
[default].telefonDivider.divider=-1
admin.singleModeLimit.visible=7500
